/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #111111
$textColor = #2d2d2d
$borderColor = #eaecef
$codeBgColor = #111111
$highlightColor = #d7f27e
$highlightColor2 = #7959E3